@{
    ViewBag.Title = "Calculate Triangle Coordinates";
}
@model CherwellCodingChallenge.Models.VertexCoordinates

<h2>@ViewBag.Title</h2>
<h3 style="color:red">@ViewBag.Message</h3>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-4">

            <div class="form-horizontal">
                <h3>Input</h3>
                <hr />
                <div class="form-group">
                    @Html.Label("Row", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("row", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Column", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("column", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Calculate" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-4">
        <h3>Result</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.V1x)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.V1x)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.V1y)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.V1y)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.V2x)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.V2x)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.V2y)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.V2y)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.V3x)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.V3x)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.V3y)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.V3y)
            </dd>
        </dl>
    </div>
</div>
